body{
	font: 15px/1.5 Arial;
	padding: 0;
    margin: 0;
	background-color: #ffff80;
}

.bodyy {
  box-shadow: 0 0 3px 3px rgba(0, 0, 255, 0.8 );
  padding: 4px 4px 4px 4px ; 
    margin: 21px 21px 21px 21px ; 
  	text-align: center;
}

.large{
	  min-height: 500px;
}

.header {
	text-align: center;
	padding: 7px 7px 7px 7px ;
	color: blue;
	font-size: 35px;
}

.bg{
  background: linear-gradient(
      rgba(184, 108, 52, 0.60),
      rgba(255, 255, 128, 0.60)
    ),no-repeat;
  text-align: center;
  color: #ffffff;
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
    box-sizing: border-box;
}

dialog{
  min-height: 200px;
  background: linear-gradient(
      rgba(184, 108, 52, 1),
      rgba(255, 255, 128, 1)
    );
  text-align: center;
  color: #ffffff;
}

textarea{
  min-height: 200px;
  min-width:800px;
  background: #ffff90;
  color: #0000ff;
}

table{
  min-height: 100px;
  min-width:800px;
  background: #ffffff;
  color: #0000ff;
}

.bg h1{
  margin-top: 150px;
  font-size: 55px;
  padding: 0 100px 0 100px;
  justify-content: center;
  margin-bottom: 5px;
  font-family: 'montserrat';
}

.bg p{
  font-size: 30px;
  padding: 0 100px 0 100px;
  justify-content: center;
  font-family: 'montserrat';
}

ul{
  margin: 0;
  padding: 0;
}
header{
  background: #00008f;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #d5c788 3px solid;

}
header a{
  color: #ffffff;
  }
 header li{
  float: right;
  padding: 0 20px 0 20px;
  display: inline;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
header button{
    background-color: #35424a;
    color: white;
    font-family: 'montserrat';
    padding: 5px 8px 5px 8px;
    margin-bottom: 14px;
    border: 1px solid white;
}
header button:hover{
  background-color: #0000255;
  color: white;
  border:none;
}
footer{
  padding: 20px;
  margin-top: 0;
  color: #ffffff;
  background-color: #00006f;
  text-align: center;
}

#bt{
    background-color: #35424a;
    color: white;
    font-family: 'montserrat';
    padding: 5px 8px 5px 8px;
    margin-bottom: 14px;
    border: 1px solid white;
}

.container{
  width:100%;
  margin: auto;
  overflow: hidden;
}